* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  padding-top: 5rem;
  margin: 2em 1em;
  line-height: 1.5em;
}

a {
  color: black;
  text-decoration: initial;
}

h1 {
  font-style: italic;
}

.player {
  display: inline-block;
}

.player > h5 {
  text-align: center;
}

.player > ul {
  padding-left: 0;
}

.player-graph {
  display: inline-block;
}

.single-graph {
  max-width: 500px;
  height: 200px;
  margin-bottom: 145px;
}

#stats {
  padding-left: 0;
}

.green {
  color: green;
}

.red {
  color: red;
}

code {
  font-style: normal;
}

canvas {
  display: block;
  position: relative;
  top: 38px;
  left: 32px;
}

main {
  padding: 3rem 1.5rem;
}

footer {
  padding-bottom: 5rem;
}

@media only screen and (max-width: 414px) {
  canvas {
    top: 0;
    left: 0;
  }
  .single-graph {
    margin-bottom: initial;
  }
}
