*:not(text) {
  font-family: Inter, sans-serif;
}

.active-link {
  text-decoration: underline;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 500px) {
  .season-list {
    display: block !important;
    float: initial !important;
    margin-top: 18px !important;
  }
}