*:not(text) {
  font-family: Inter, sans-serif;
}

img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}

img.emoji-large {
  height: 2em;
  width: 2em;
  margin: 0 .1em 0 .2em;
  vertical-align: -0.2em;
}

.active-link {
  text-decoration: underline;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 780px) {
  .player-summary {
    justify-content: left;
  }
  .elo-graph {
    margin-left: -40px;
  }
  .season-list {
    display: block !important;
    float: initial !important;
    margin-top: 18px !important;
  }
}

table {
  width: 300px;
}

th, td {
  padding: 0px;
}

select:invalid {
  color: #999;
}
option {
  color: black;
}